@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide horizontal scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
